.aboutpage{
    min-height: calc(100vh - 290px);
}

.aboutpage-hero{
    background-color: #effaff;
}

.about-backgroung-svg, .about-us-text{
    padding: 30px 0 70px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.about-backgroung-svg hr{
    height: 2px;
    border: 2px solid rgb(120, 187, 204);
}

.about-backgroung-svg img{
    width: 80%;
}

.about-us-top-text{
    text-align: left;
}

.about-us-top-text h1, .about-us-text h1{
    font-size: 48px;
    line-height: 66px;
    font-weight: 600;
    color: #2a2a2a;
}

.about-us-text p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 100;
}


@media all and (max-width: 700px) {
    .about-backgroung-svg img{
        width: 100%;
    }
}
