.loginpage{
    min-height: calc(100vh - 290px);
}

.login-box{
    margin: 50px auto;
    padding-bottom: 20px;
    width: 420px;
}

.login-box h1{
    font-size: 38px;
    line-height: 30px;
}

.login-box h2{
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.login-box input[type = "text"], .login-box input[type = "password"]{
    border: 2px solid #fff;
    margin: 10px 0;
    border-radius: 6px;
    padding: 12px;
    font-size: 18px;
    line-height: normal;
    box-sizing: border-box;
    outline: none;
    overflow: visible;
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.12);
    transition: all .3s ease;
}

.login-box input[type = "text"]:focus,.login-box input[type = "password"]:focus{
    border: 2px solid rgb(93, 186, 240);
}

.login-box input[type = "submit"]{
    margin: 10px 0;
    border: none !important;
    cursor: not-allowed;
    white-space: nowrap;
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    background-color:  #12A4E2;
    color: #fff;
    transition: all .3s ease;
}

.login-box input[type = "submit"]:hover{
    background: #087dae;
}

.forgot-password{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.login-box a,p{
    margin: 12px 0;
    color: rgba(94, 88, 88, 0.76);
}

.login-box a{
    text-decoration: none;
    color: #12A4E2;
}

.login-unavailable{
    color: rgba(238, 99, 99, 0.842);
}


.personal-details{
    display: flex;
    justify-content: space-between;
}

.personal-details input[type = "text"]{
    width: 48%;
}

@media all and (max-width: 600px) {
    .login-box{
        width: 90%;
    }
}

@media all and (max-width: 450px) {
    .login-box{
        width: 90%;
    }
    .login-box h1{
        font-size: 38px;
        line-height: 40px;
    }
    .personal-details{
        flex-wrap: wrap;
    }
    .personal-details input[type = "text"]{
        width: 100%;
    }
    
}