@import url('https://fonts.googleapis.com/css?family=Aleo&display=swap');

.header-top{
    position: sticky;
    top: 0;
    background-color: #effaff;
    z-index: 100;
}

.header-scrolled{
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    position: sticky;
    top: 0;
    transition: all 1s ease-in-out;
    background-color: #fff;
    z-index: 100;
}

.top-nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.logo{
    font-family: "Aleo";
    color: #12a4e2;
    font-size: 36px;
    font-weight: 400;
    line-height: 13px;
    cursor: pointer;
    letter-spacing: -1px;
}

.nav-links a{
    cursor: auto;
    outline: none;
}

.nav-links li{
    display: inline-block;
    margin: 0 18px ;
    font-size: 20px;
    font-weight: 400;
    color: #2a2a2a;
    cursor: pointer;
}

.top-nav-bar .get-started-button{
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    background: #12A4E2;
    color: #fff !important;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    outline: none;
    transition: all .3s ease;
}

.top-nav-bar .get-started-button:hover{
    background: #087dae;
}

@media all and (max-width: 700px) {
    .top-nav-bar ul a:nth-child(-n+3){
        display: none;
    }
    .top-nav-bar{
        width: 90%;
    }
}

